.my_sb_container {
    width:100%;
}
/* 상단 제목 영역 */
.my_sb_top_container {
    width:100%; height:180px;
    background-image: url("../img/my_starbucks/mysb_top_nav.jpg");
    background-size: cover;
    background-color: #000;
    overflow: hidden;
}

.my_sb_container h1 {
    color:#fff;
    margin-left:22.5%;
    margin-top:110px;
}

/* 좌측 정보탭 */
.my_sb_content {
    width:75%;
    float:left;
    margin-right:5%;
}

/* 회색 박스 */
.my_sb_gray_box {
    width:100%; height:280px;
    margin-bottom:30px;
    margin-top:40px;
    background-color: #f3f3f3;
}

/* left */ 
.gray_box_left {
    width:49%;
    float:left;
    text-align:center;
}

.gray_box_left p {
    font-size:16px;
    margin:20px 0;
}

.gray_box_left p span {
    font-weight: bold;
}

.user_icon {
    width:110px; height:110px;
    border-radius: 50%;
    border:3px solid #ccc;
    overflow: hidden;
    margin:0 auto;
    margin-top:40px;
}

.user_icon img {
    width:110px; height:110px;
}

.gray_box_button_div button {
    width:130px; height:32px;
    background-color: #222;
    color:#fff;
    border-radius: 5px;
}

.gray_box_button_div button:last-child {
    background-color: #777;
    margin-left:3px;
}

/* line */
.line {
    height:80%;
    float:left;
    margin:30px 0;
    border-right:1px solid #ccc;
}

/* right */
.gray_box_right {
    width:50%;
    float:right;
    text-align:center;
}

.gray_box_right h3 {
    float:left;
    font-size:18px;
    margin-top:30px;
    margin-left:30px;
}

.star_icon {
    width:120px; height:120px;
    margin:0 auto;
    margin-top:35px;
}

.star_icon img {
    width:120px; height:120px;
}

.star_icon p {
    position: relative;
    top:-95px;
    font-weight: bolder;
}

.gray_box_right p {
    font-size:15px;
    margin:10.5px 0;
}

.gray_box_right p span {
    font-weight: bold;
}

.gray_box_right p span:last-child {
    color:#006633;
}

.gray_box_right_button_div button {
    width:130px; height:32px;
    background-color: #e2c383;
    color:#000;
    border-radius: 5px;
}

/* 스타벅스 카드 */ 
.my_sb_card_box {
    width:100%; height:250px;
    margin-bottom:30px;
    border:1px solid #ccc;
    border-radius: 2px;
}

.my_sb_card_title h4 {
    margin:20px 0;
    margin-left:5%;
    display:inline-block;
}

.my_sb_card_title p {
    margin-left:10px;
    display:inline-block;

}

.my_sb_card_title hr {
    width:90%;
    margin:0 auto;
    border: 0.5px solid #ccc;
    color : #ccc;
    border-color : #ccc;
    background-color : #ccc;
}

.my_sb_card_content {
    width:60%;
    margin:15px auto;
}

.my_sb_card_content_left {
    float:left;
}

.my_sb_card_content_left .my_sb_card_img {
    width:250px;
    height:150px;
}

.my_sb_card_content_right {
    float:right;
    text-align: center;
}

/* 아이콘 탭 */
.my_sb_icon_div {
    width:100%; height:80px;
    margin-bottom:30px;
    border:1px solid #ccc;
    border-radius: 2px;
}

.my_sb_icon_ul li {
    float:left;
}

/* 우측 메뉴바 */
.my_sb_right_nav {
    width:20%;
    float:right;
    margin-top:40px;
}

.my_sb_right_ul {
    margin-bottom:100px;
}

.my_sb_right_ul > li {
    border-bottom: 1px solid #ccc;
    padding:22px 0;
    font-size:14px;
    font-weight: bolder;
}

.my_sb_right_ul > li > a > span {
    float:right;
    margin-right:20px;
}

.my_sb_right_ul .my_sb_ul_first {
    border-top:2px solid black;
}

.my_sb_right_ul .my_sb_ul_last {
    border-bottom:2px solid black;
}

.my_sb_right_ul li a {
    color:#444;
}

.my_sb_right_ul li a:hover,
.my_sb_right_ul > li > a > span:hover {
    color:#006633;
}

.my_sb_right_sub_ul {
    font-size:12px; font-weight: lighter;
    margin:10px 0 0 15px;
}

.my_sb_right_sub_ul > li {margin-top:5px;}


/* 우측 메뉴바 별 페이지 css */
.my_sb_content_page {
    margin-top:40px;
}

/* My 메뉴 */
/* My 메뉴 - 상단 라디오버튼 */
.radio_button {
    overflow: hidden !important;
    position: absolute !important;
    left: -9999px !important;
    width: 0.1px;
    height: 0.1px;
}

.my_sb_menu_radio {
    display: table;
    width: 100%; height:40px;
    box-sizing: border-box;
    margin-bottom:20px;
}

.my_sb_menu_radio > div {
    display: table-cell;
    width:33%;
    height:40px;
    line-height:40px;
    text-align: center;
    border: 1px solid #ccc;
}
.my_sb_menu_radio label {
    display: block;
    width: 100%; height: 100%;
    background-color: #fff; color: #222;
    font-weight:bold; font-size:12px;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="radio"]:hover + label,
input[type="radio"]:checked + label {
    background-color: #006633;
    color:#fff;
}

/* My 메뉴 - 테이블 */
.my_sb_menu_table {
    width:100%;
    border-collapse: collapse;
    margin:0 auto;
}

.my_sb_menu_table td {
    padding:15px 0;
    border-bottom:1px solid #d6d6d6;
}

.my_sb_menu_table tr:first-child > td {
    border-top:1.5px solid #222;
    border-bottom:1.5px solid #222;
    font-weight: bold;
}

.my_sb_menu_table tr td:nth-child(1) {width:3%; padding:0px 2%; text-align:center;}
.my_sb_menu_table tr td:nth-child(2) {width:5%; padding:0px 2%; text-align:center;}
.my_sb_menu_table tr td:nth-child(3) {width:30%; text-align:center;}
.my_sb_menu_table tr td:nth-child(4) {width:15%; text-align:center;}
.my_sb_menu_table tr td:nth-child(5) {width:15%; text-align:center;}
.my_sb_menu_table tr td:nth-child(6) {width:10%; text-align:center;}

/* My 메뉴 - 삭제버튼 */
.delete_button_div {margin-top:20px;}
.delete_button_div > button {
    width:60px; height:22px;
    border:0.5px solid #ccc;
    background-color: #ffffff;
    border-radius: 3px;
    font-size:12px; font-weight: bold;
}

/* 전자영수증 */
.receipt_form > p {
    float:left;
    line-height:20px;
    margin:10px 0;
}